extends ../shared/template
block content
  .scroll-panel
    .contact-menu
      .contact-container
        .contact-container-left
          img(src="img/chair.png")
        .contact-container-right
          a(href="mailto:drew@andrewwilliammoore.com")
            strong.contact-section-strong drew @ andrewwilliammoore . com
          a(href="https://github.com/drewmoore/", target="_blank")
            strong.contact-section-strong GitHub
          a(href="https://www.linkedin.com/pub/drew-moore/99/923/103", target="_blank")
            strong.contact-section-strong LinkedIn
          strong.contact-section-strong (615)828-3273

