extends ../shared/template

block content

  .row
    .small-2.columns
      &nbsp;
    .small-8.columns
      if err
        .row
          .small-12.columns
              p #{err}
    .small-2.columns

  .row
    .small-12.columns
      .row
        .small-12.columns
          form(action='/sites/create', method='post', enctype='multipart/form-data')
            fieldset
              legend Add a Site
                label Title
                input(name='title', type='text', value='title it...')
                label Description
                input(name='description', type='text', value='describe it...')
                label Site URL
                input(name='url', type='text', value='http://')
                label Github URL
                input(name='github', type='text', value='https://github.com/drewmoore/')
                label Framework
                input(name='framework', type='text', value='Node / Rails')
                label Host
                input(name='host', type='text', value='Amazon EC2, Ubuntu Server / Heroku')
                label Priority: 1 highest, 5 lowest
                select(name='priority')
                  - for (var i = 1; i <= 5; ++i) {
                      option(value=i) #{i}
                  - }
                label Upload a Screenshot
                input(name='imageFile', type='file')
                button Add the Site, yo!
