extends ../shared/template
block content
  .columns.scroll-panel
    .scroll-menu
      ul
        li.resume-section
          h3 Drew Moore
          .resume-section-left
            strong.resume-section-strong (615)828-3273
            a(href="mailto:drew@noiseshift.com")
              strong.resume-section-strong drew@noiseshift.com
          .resume-section-right
            a(href="https://github.com/drewmoore/", target="_blank")
              strong.resume-section-strong GitHub
            a(href="https://www.linkedin.com/pub/drew-moore/99/923/103", target="_blank")
              strong.resume-section-strong LinkedIn
