extends ../shared/template
block content
  .scroll-panel
    .scroll-menu
      ul
        li.resume-section
          h3 Andrew Moore
          .resume-section-left
            strong.resume-section-strong.resume-heading-info (615)828-3273
            a(href="mailto:drew@andrewwilliammoore.com")
              strong.resume-section-strong.resume-heading-info drew@andrewwilliammoore.com
          .resume-section-right.defloat-in-landscape
            a(href="https://github.com/drewmoore/", target="_blank")
              strong.resume-section-strong.resume-heading-info GitHub
            a(href="http://stackoverflow.com/cv/andrewwilliammoore", target="_blank")
              strong.resume-section-strong.resume-heading-info StackOverflow

        li.resume-section
          h3 Technical Proficiencies
          .resume-section-left
            ul
              li.resume-bullets Ruby on Rails, Node.js, Meteor.js
              li.resume-bullets MongoDB, SQL
              li.resume-bullets Git, GitHub, Travis-CI, Jenkins
              li.resume-bullets Ubuntu, OpenSuse, Vim, Nginx
          .resume-section-right.bullets-section
            ul
              li.resume-bullets jQuery, ES6, Coffeescript
              li.resume-bullets CSS, Less, Sass, Bootstrap
              li.resume-bullets Handlebars.js, HAML, Pug/Jade
              li.resume-bullets Facebook / Instagram API
          .clear

        li.resume-section
          h3 Education

          .resume-section-left
            a(href="http://nashvillesoftwareschool.com/", target="_blank")
              strong.resume-section-strong Nashville Software School
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong January - June 2014
          .clear
          p.
            Non-profit software bootcamp. Dynamic, market-based curriculum
            focused on Node.js, Ruby on Rails, jQuery, and Ubuntu. Team programming,
            test-driven development, git, and Travis-CI. Replicas of Netflix,
            IMDB, and social networking.

          .resume-section-left
            a(href="http://www.vanderbilt.edu/", target="_blank")
              strong.resume-section-strong Vanderbilt University
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong September 2000 - May 2004
          .clear
          strong.resume-certificate
            a(href="http://blair.vanderbilt.edu/" target="_blank") Bachelor of Music
            span : Classical Guitar Performance major, German minor
          strong.resume-certificate
            a(href="http://www.goethe.de/lrn/prj/pba/bes/zdb/enindex.htm" target="_blank").
              Certificate of Fluency in Business-Level German
            span , Academic Scholarship, National Deans' List
          p.
            Focus in music theory, composition, and performances, as well as
            liberal arts. Hours of daily instrumental practice. Scholarship
            recipient to prestigious
            #[a(href="http://www.bowdoinfestival.org/" target="_blank")='Bowdoin International Music Festival'], 2002.

          .resume-section-left
            a(href="http://www.uni-regensburg.de/index.html", target="_blank")
              strong.resume-section-strong Universität Regensburg
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong January - August 2003
          .clear
          p.
            Full-immersion study-abroad program. German-only courses in
            political science, history, literature, and classical guitar.
            Employment at local
            #[a(href="http://www.hemingway.de/" target="_blank")='restaurant'].

        li.resume-section
          h3 Work Experience

          h5 Full-Stack Software-Engineer
          .resume-section-left
            a(href="http://cts-llc.net", target="_blank")
              strong.resume-section-strong Capital Technology Services
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong January 2015 - present
          .clear
          p.
            Build web applications using Ruby on Rails, Meteor.js, Github, and Heroku
            for contractor. Clients in healthcare, education, and other industries.
            Use of Test-Driven-Development and Continous Integration.
            Suggest and plan new features, meet with product owners, estimate
            costs.

          h5 Freelance Software-Engineer
          .resume-section-left
            a(href="https://partybassics.herokuapp.com", target="_blank") Short-term contract
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong August 2014 - December 2014
          .clear
          p.
            As first job in software field, built Rails app for client in
            entertainment industry. Utilizes Stripe payments and social networking
            APIs. In-house features for content management and usage statistics.

          h5 Server, Bartender
          .resume-section-left
            a(href="http://nashvilleguru.com/guides", target="_blank")
              strong.resume-section-strong Food and Beverage Industry
          .resume-section-right.defloat-in-landscape
            strong.resume-section-strong July 2004 - October 2014
          .clear
          p.
            Sold top-quality cuisine, wines, liquors, and sake.
            Upscale environments with celebrity and executive clients. Trained
            new employees and ordered beverage inventory. Teamwork-focused with
            international coworkers.

        li.resume-section
          h3 Activities &amp; Interests
          h5 Musician, Audio Engineer
          p.
            Guitarist, bassist, and singer in various rock bands.
            Producer of demos and EPs. Voice-over tracks for commercials and film.
            Soundtrack for #[a(href="http://vimeo.com/14291997" target="_blank")='first place winner'] of
            Nashville #[a(href="http://www.48hourfilm.com/en/" target="_blank")='48-hour Film Festival'], 2010.
            Organized outdoor #[a(href="http://noiseshift.com/sunsetblockparty/" target="_blank")='concerts'],
            with city permits.
