extends ../shared/template
block content
  .columns.scroll-panel
    .scroll-menu
      ul
        li.resume-section
          h3 Drew Moore
          .resume-section-left
            strong.resume-section-strong (615)828-3273
            a(href="mailto:drew@noiseshift.com")
              strong.resume-section-strong drew@noiseshift.com
          .resume-section-right
            a(href="https://github.com/drewmoore/", target="_blank")
              strong.resume-section-strong GitHub
            a(href="https://www.linkedin.com/pub/drew-moore/99/923/103", target="_blank")
              strong.resume-section-strong LinkedIn

        li.resume-section
          h3 Technical Proficiencies
          .resume-section-left
            ul
              li.resume-bullets Node.js, Ruby on Rails
              li.resume-bullets Ubuntu, OpenSuse Linux
              li.resume-bullets MongoDB, PostgreSQL
              li.resume-bullets Git
          .resume-section-right
            ul
              li.resume-bullets jQuery, Javascript
              li.resume-bullets HTML 5 Audio / Video
              li.resume-bullets CSS / Less / Sass
              li.resume-bullets Foundation
          .clear

        li.resume-section
          h3 Education

          .resume-section-left
            a(href="http://nashvillesoftwareschool.com/", target="_blank")
              strong.resume-section-strong Nashville Software School
          .resume-section-right
            strong.resume-section-strong January - June 2014
          .clear
          p Software bootcamp with instruction ranging from HTML to NodeJS and Ruby on Rails.  Class met Monday through Friday 9-4 with nightly assignments and weekend projects.  Instruction focused on server-side development,  team programming, test-driven development, and version control while integrating current and practical technologies.  Projects included developing working replicas of Netflix, IMDB, and social networking sites.  Final project integrated APIs, search algorithms, and multiple simultaneous audio streams.

          .resume-section-left
            a(href="http://www.vanderbilt.edu/", target="_blank")
              strong.resume-section-strong Vanderbilt University
          .resume-section-right
            strong.resume-section-strong September 2000 - May 2004
          .clear
          strong.resume-certificate <a href="http://blair.vanderbilt.edu/", target="_blank">Bachelor of Music</a>: Classical Guitar Performance major, German minor
          strong.resume-certificate <a href="http://www.goethe.de/lrn/prj/pba/bes/zdb/enindex.htm", target="_blank">Certificate of Fluency in Business-Level German</a>, Academic Scholarship, National Deans' List
          p Gained a strong command of music theory and composition while delivering full-length solo concerts and regular performances.  Studied in Germany for 7 months at the <a href="http://www.uni-regensburg.de/index.html.en", target="_blank">Universität Regensburg</a>, taking political science and history courses with no instruction in English.  Waited tables at a local <a href="http://www.hemingway.de/", target="_blank">restaurant</a>.


        li.resume-section
          h3 Work Experience
          h5 Bartender, Barback, Server

          .resume-section-left
            a(href="http://mstreetnashville.com/restaurants/saint-anejo/details", target="_blank")
              strong.resume-section-strong St. Añejo, M Street Entertainment
            a(href="http://urbangrub.net/", target="_blank")
              strong.resume-section-strong Urban Grub
            a(href="http://mstreetnashville.com/restaurants/virago", target="_blank")
              strong.resume-section-strong Virago, M Street Entertainment
            a(href="http://www.mafiaozas.com/", target="_blank")
              strong.resume-section-strong Mafiaoza's
          .resume-section-right
            strong.resume-section-strong September 2013 - present
            strong.resume-section-strong September 2012 - June 2013
            strong.resume-section-strong March 2011 - September 2012
            strong.resume-section-strong June 2007 - September 2010
          .clear
          p Sold top-quality cuisine, wines, liquors, and sake in professional, upscale environments to clientele that includes business executives and celebrities.  Required an evolving command of knowledge in culinary techniques, recipes, mixology, foreign terminology, and wine varietals.  Multi tasked to keep bar stocked with essential products under constantly changing circumstances and priorities.  Regularly trained new employees.  Ability to work well on a team absolutely crucial to success.

          h5 Manager

          .resume-section-left
            a(href="http://www.ru-sans.com/", target="_blank")
              strong.resume-section-strong Ru San's
          .resume-section-right
            strong.resume-section-strong August 2005 - June 2007
          .clear
          p Rapidly promoted to bar management.  Lead buyer for all beverage products.  Helped create libations menu, cocktail recipes, and prices.  Drafted company health insurance plan and met with sales representatives.  Responsible for meeting regulatory standards on health codes and the sale and consumption of alcoholic beverages.  Managed waitstaff and resolved complaints of guests.


        li.resume-section
          h3 Activities &amp; Interests
          h5 Audio Engineer, Musician
          p Producer for band demos, EPs, voice-over tracks for commercials and film.  Composed and produced soundtrack for <a href="http://vimeo.com/14291997", target="_blank">short film</a> that won first place in the Nashville <a href="http://www.48hourfilm.com/en/", target="_blank">48-hour Film Festival</a>, 2010.  Designed, printed, and sized album covers, artwork, and CD <a href="http://noiseshift.com/fireisborn/music.html", target="_blank">graphics</a>.  Managed band finances, <a href="http://noiseshift.com/cosmicamerica/index.html", target="_blank">online presence</a> and music sales.  Organized outdoor <a href="http://noiseshift.com/sunsetblockparty/", target="_blank">concerts</a> featuring several bands and obtained applicable permits from the city.
